<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>

Hi there!

Happy for you to have found this page. This is a text-based site to house my writing.<br> <br>
<em>A little bit about me.</em><br>
I'm 24 years-young and obsessed with the art of capturing the story - here is where I document the story of (my) brain! <br>
I'm a marketer by day, working at one of Canada's largest retailers, Canadian Tire. <br>
Graduate from Schulich with a longtime obsession with stats and data, and consumer psychology. <br>
I moonlight as a creative writer, fitness enthusiast, armchair philosopher, budding cinephile, and music nerd.
<br><br>

<em>This is starting to read like a dating profile, but I'm all in now...</em><br>
I'm a fearless purveyor of the open web and a sucker for nostalgia, memories, and all things old. <br>
I'm a big advocate of always learning and continuous self-improvement. <br>
I'm also organized as heck (but also sometimes disorganized as heck), and this paradoxical chaos is sort of the paradox of myself.<br><br>

I love surrounding myself with great people that keep me growing and grounded.<br>
I love adventurous people, someone that says yes most of the time. <br>
I run and I gym and I bike, love staying active and being outdoors.
I'm also a big fan of dancing poorly - but passionately!
<br> <br>

Self-awareness, discipline, and empathy is big for me. Also, a willingness to get out of your comfort zone, learn and try new things, or at least just have a conversation about it. I'll try anything twice. <br>
I don't take myself too seriously and relish in being a little bit odd. <br> <br>

I'm passionate about waste reduction, economic empowerment, and equality. <br> <br>

I update this page in a sporadic and unceremonious fashion, so no promises that it's up-to-date or organized. <br> <br>

If you want to get in touch, feel free to email me at jessicaxywu (at) gmail (dot) com.
</div>
