<!--<h1><span data-i18n="skills.my_skills">Resume</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">
    {% for career in site.data.index.careers %}
          <div class="archive-title"><div class="archive-year"><strong>{{ career.date }}</strong> {{ career.job }} @ <a href="{{ career.link }}">{{ career.name }}</a></div></div>
    {% endfor %}
  </div>
</div>
<br><br>
<div><a href="https://drive.google.com/file/d/1_gcrQTOOdfHkuQiDCs7UOVzB9mLUTTkV/view?usp=sharing" class="btn">Download Resume</a></div>
-->
