---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import PostPreview from '../../components/PostPreview.astro';
import Subscribe from '../../components/Subscribe.astro';
import TagCloud from '../../components/TagCloud.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = (await getCollection('blog'))
  .filter(post => post.data.draft !== true)
  .sort(sortItemsByDateDesc);
    const allTags = [...new Set(posts.flatMap((post) => post.data.tags || []))];

    return paginate(posts, {
        pageSize: siteConfig.postsPerPage || 4,
        props: { allTags }
    });
}

type Props = {
    page: Page<CollectionEntry<'blog'>>;
    allTags: string[];
};

const { page, allTags } = Astro.props;
const posts = page.data;

function slugify(text: string): string {
    return text
        .toString()
        .toLowerCase()
        .replace(/\s+/g, '-')
        .replace(/[^\w\-]+/g, '')
        .replace(/\-\-+/g, '-')
        .replace(/^-+/, '')
        .replace(/-+$/, '');
}
---

<BaseLayout
    title="Words"
    description="Words, thoughtful digressions"
    image={{ src: '/public/android-chrome-512x512.png', alt: 'Jessica Wu' }}
    showHeader={false}
>
    <h1 class="mb-12 leading-tight font-serif sm:mb-16" style="font-size: 48px; font-weight: 500;">Words Archive</h1>

    <TagCloud tags={allTags} class="mb-12" />

    <div id="posts-container">
        {
            posts.map((post) => (
                <div class="post-preview" data-tags={post.data.tags?.map(slugify).join(',')}>
                    <PostPreview post={post} class="mb-10 sm:mb-12" />
                </div>
            ))
        }
    </div>

    <Pagination page={page} class="my-16 sm:my-24" />
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
