---
layout: post_listing_thoughts
title:  thoughts
permalink: /thoughts/
---
<div class="tag-list">
{% for cat in site.categories %}
  <div class="tag-group">
    {% capture cat_name %}{{ cat | first }}{% endcapture %}
    <h5 class="tag-group-title" id="{{ thoughts | slugize }}">{{ thoughts }}</h5>
    {% for post in site.categories[thoughts] %}
    <article class="tag-item">
      <a class="tag-item-title" href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
