---
import TagButton from './TagButton.astro';

interface Props {
    tags: string[];
    class?: string;
}

const { tags, class: className } = Astro.props;

// Simple slugify function
function slugify(text: string): string {
    return text
        .toString()
        .toLowerCase()
        .replace(/\s+/g, '-') // Replace spaces with -
        .replace(/[^\w\-]+/g, '') // Remove all non-word chars
        .replace(/\-\-+/g, '-') // Replace multiple - with single -
        .replace(/^-+/, '') // Trim - from start of text
        .replace(/-+$/, ''); // Trim - from end of text
}
---

<div class={`flex flex-wrap gap-x-5 gap-y-1 ${className}`}>
    {
        tags.map((tag) => (
            <a href={`/tags/${slugify(tag)}`} class="text-main hover:underline">
                <TagButton>{tag}</TagButton>
            </a>
        ))
    }
</div>
